# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code settings
.vscode/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

# Migrations
*/migrations/

# OS files
.DS_Store
Thumbs.db
